# Global owner for the repository
* @thepetk @johnmcollier @gabemontero

# Lightspeed and Llama Stack owners
charts/rhdh/templates/lightspeed-postgres.yaml @maysunfaisal @Jdubrick @JslYoon
# TODO: replace this with llama-stack-config for 1.10 release
charts/rhdh/templates/llama-stack-run-no-guard-config.yaml @maysunfaisal @Jdubrick @JslYoon